
@{
    ViewBag.Title = "AdminPage";
}

<h2>Admin Page</h2>



<div class="row">
    <div class="col-md-6">



        <div class="jumbotron">
            <input type="button" value="Add Trade" onclick="location.href='@Url.Action("Create", "Trades")'" class="btn btn-primary " />

            <input type="button" value="Trade List" onclick="location.href='@Url.Action("Index", "Trades")'" class="btn btn-primary " />



        </div>
    </div>

    <div class="col-md-6">



        <div class="jumbotron">
            <input type="button" value="Register Trader" onclick="location.href='@Url.Action("Create", "Traders")'" class="btn btn-primary " />

            <input type="button" value="Traders List" onclick="location.href='@Url.Action("Index", "Traders")'" class="btn btn-primary " />



        </div>
    </div>




</div>

